immo_data.csv
immo_data_clean.csv
Graphs
plz
postleitzahlen.geojson
Stadtteile_DUS.geojson
rent_prices_DUS_plz.html
Understanding the Rent Prices in Düsseldorf Germany.pptx
Understanding the Rent Prices in Düsseldorf Germany.pdf
Jupyter Notebooke - Understanding the Rent Prices in DUS.pdf
